@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div id="ChooseModePage" >
        <h6 id="HelloUsername">Hello, [username] !</h6>

        <h6 id="ChooseMode">Choose your mode please:</h6>

        <h6 id="SinglePlayer">Single Player</h6>

        <img id="ApplePic" src='Assets/Apple.png'/>

        <h6 id="Multiplayer">Multiplayer</h6>

        <div  id="multidiv">
            <img id="AppleMulti" src='Assets/AppleMulti-07.jpg'/>

            <img id="AppleReverse" src='Assets/AppleReverse-07.jpg'/>
        </div>

        <h6 id="Blitz">Blitz</h6>

        <div>
            <img id="AppleBlitz" src='Assets/AppleMulti-07.jpg'/>
            <img id="Cherry" src='Assets/Cherry.jpg'/>
            <img id="Lemon" src='Assets/Lemon.jpg'/>
        </div>
       
    </div>
</body>
