#SignUpPage
{
    width: 300px;
    height: 750px;
    margin: 0 auto;
    text-align: center;
}

body
{
    position: relative;

}

#SignUpText
{
    color: #569981;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    font-size: 50pt;
    font-family: 'Orbitron', sans-serif;
    font-weight: 550;
}

#NameTextBox
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

#LoginTextBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}


#PasswordTextBox
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.mdl-textfield__label:after {
    background-color: #569981 !important;
    color: #569981 !important;
}

.mdl-textfield__label {
    font-family: 'Montserrat', sans-serif;
    color: #569981 !important;
}

#matbtn3 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 300px;
    height: 70px;
    transform: translate(-50%, -50%);
    background-color: #569981;
    transition: 0.3s;
    letter-spacing: 2px;
}

@media screen and (min-width: 500px) and (max-width: 542px)
{
    #SignUpText
    {
        width: 300px;
    }
}